{{extend 'layout.html'}}

<h1>Welcome</h1><p>Please register on this site, log in, and then click on a link below to submit peer grades for a course in which you are enrolled.</p>

{{if auth.is_logged_in():}}

{{for course in courses:}}
{{content = [A(course.course_name, _href=URL('create_grade', args=[course.id]))]}}
{{if auth.has_membership('administrators'):
    adminlist = ['    ',  
                   A('manage', _href=URL('grades_manage', args=[course.id]), _class='adminlink'),
                   ' | ',
                   A('instructor\'s report', _href=URL('grades_report', args=[course.id]), _class='adminlink')]
    content.extend(adminlist)}}
{{pass}}
{{=LI(*content)}}
{{pass}}

{{pass}}
